*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: relative;
    height: 919px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.container {
    background-color: rgb(57, 57, 250);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    height: 700px;
    border-radius: 10px;

}
.text-r-1{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo-img{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-r-2{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;

}
.h1{
    position: relative;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
}
.h1:hover{
    text-shadow: 10px 10px 90px #9babe4, 10px 10px 93px #93bec9;
    text-shadow: 10px 10px 90px #b6c4f7, 10px 10px 93px #4d598b;
    outline: #0fc3f0;
}

#input-g-p{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#button-sign-in{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
#checkbox{
   margin-left: 12.8vh;
   margin-top: 10px;
   cursor: pointer;

}
#gmail{
    width: 450px;
    padding: 12px;
    border: none;

}
#gmail:hover{
    box-shadow: 1px 1px 30px #7690ee, 1px 1px 33px #0fc3f0;
    box-shadow: 1px 1px 30px #5c7ae4, 1px 1px 33px #5878f7;
    outline: #0fc3f0;

}
#password{
    width: 450px;
    padding: 12px;
    margin-top: 10px;
    border: none;
}
#password:hover{
    box-shadow: 1px 1px 30px #7690ee, 1px 1px 33px #0fc3f0;
    box-shadow: 1px 1px 30px #5c7ae4, 1px 1px 33px #5878f7;
    outline: #0fc3f0;

}
#sign-in{
    width: 450px;
    padding: 12px;
    margin-top: 10px;
    border: none;
}
#sign-in:hover{
    box-shadow: 1px 1px 30px #7690ee, 1px 1px 33px #0fc3f0;
    box-shadow: 1px 1px 30px #5c7ae4, 1px 1px 33px #5878f7;
    outline: #0fc3f0;

}
.remember-me:hover{
    color: black;
}
.text-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue
}
